R/.Rproj.user/
R/.Rproj.user
R/.Rhistory
R/.RData
R/.Ruserdata
.Rproj.user
node_modules
.svelte-kit/
/Users/jessicacarr/Documents/J/github/punctuation_songs/R/.Rproj.user

# Svelte / SvelteKit
.svelte-kit/
**/.svelte-kit/
vite.config.ts.timestamp-*
internal.js
ambient.d.ts

# build output
dist/
build/
.svelte-kit/generated/server/internal.js
